infra/aws/cloudformation/step_functions/jenkins_start_run_job.json
{
  "QueryLanguage": "JSONata",
  "Comment": "Start EC2 Jenkins instance, wait for it to be ready, then trigger a Jenkins job via Lambda",
  "StartAt": "setup variables",
  "States": {
    "setup variables": {
      "Type": "Pass",
      "Next": "StartInstances",
      "Assign": {
        "branch": "{% $states.input.branch %}",
        "job_name": "{% $states.input.job_name %}"
      }
    },
    "StartInstances": {
      "Type": "Task",
      "Arguments": {
        "InstanceIds": ["i-0fdb7a376db09b8c4"]
      },
      "Resource": "arn:aws:states:::aws-sdk:ec2:startInstances",
      "Next": "Wait for jenkins"
    },
    "Wait for jenkins": {
      "Type": "Wait",
      "Seconds": 60,
      "Next": "jenkins-start-job"
    },
    "jenkins-start-job": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": "{% $states.result.Payload %}",
      "Arguments": {
        "FunctionName": "arn:aws:lambda:us-east-1:008971653395:function:jenkins-start-job:$LATEST",
        "Payload": "{% {\n  \"branch\": $branch,\n  \"job_name\": $job_name\n} %}"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "End": true
    }
  }
}
